<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>
<app-welcome-msg welcomeMsg="Aptitude :: Problems on Trains"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Aptitude   »   " linktab="\aptitude"></app-welcome-link></li>
    <li><app-welcome-link content="Problems on Trains   »   " linktab="\aptitude\problems-on-trains"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="Important formulas"></app-welcome-final-text></li>
</ul>
</div>    
<app-formula-body></app-formula-body>
<app-formula-content></app-formula-content>
<app-footer></app-footer>