<div class="aptiframe">
    <div class="leftblock">
        <ul>
            <li><a href="aptitude/problems-on-trains">Problems on Trains</a></li>
            <li><a href="aptitude">Height and Distance</a></li>
            <li><a href="aptitude">Simple Interest</a></li>
            <li><a href="aptitude">Profit and Loss</a></li>
            <li><a href="aptitude">Percentage</a></li>
            <li><a href="aptitude">Calendar</a></li>
            <li><a href="aptitude">Average</a></li>
            <li><a href="aptitude">Volume and Surface Area</a></li>
            <li><a href="aptitude">Numbers</a></li>
            <li><a href="aptitude">Problems on H.C.F AND L.C.M.</a></li>
            <li><a href="aptitude">Simplification</a></li>
            <li><a href="aptitude">Surds and Indices</a></li>
            <li><a href="aptitude">Chain Rule</a></li>
            <li><a href="aptitude">Boats and Streams</a></li>
            <li><a href="aptitude">Logarithm</a></li>
            <li><a href="aptitude">Stocks and Shares</a></li>
            <li><a href="aptitude">True Discount</a></li>
            <li><a href="aptitude">Odd Man Out and Series</a></li>
        </ul>
    </div>

    <div class="rightblock">
        <ul>
            <li><a href="aptitude">Time and Distance</a></li>
            <li><a href="aptitude">Time and Work</a></li>
            <li><a href="aptitude">Compound Interest</a></li>
            <li><a href="aptitude">Partnership</a></li>
            <li><a href="aptitude">Problems on Ages</a></li>
            <li><a href="aptitude">Clock</a></li>
            <li><a href="aptitude">Area</a></li>
            <li><a href="aptitude">Permutation and Combination</a></li>
            <li><a href="aptitude">Problems on Numbers</a></li>
            <li><a href="aptitude">Decimal Fraction</a></li>
            <li><a href="aptitude">Square Root and Cube Root</a></li>
            <li><a href="aptitude">Ratio and Proportion</a></li>
            <li><a href="aptitude">Pipes and Cistern</a></li>
            <li><a href="aptitude">Alligation or Mixture</a></li>
            <li><a href="aptitude">Races and Games</a></li>
            <li><a href="aptitude">Probability</a></li>
            <li><a href="aptitude">Banker's Discount</a></li>
        </ul>
    </div>

    <div class="quicklinkbox">
        <p>Quick Links</p>

        <ul>
            <li>Quantitative Aptitude</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Arithmetic</a>     <a href="">Data Interpretation</a></pre>
            <li>Verbal(English)</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Verbal Ability</a>     <a href="">Verbal Test</a></pre>
            <li>Reasoning</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Logical</a>   <a href="">Verbal</a>   <a href="">Nonverbal</a></pre>
            <li>Programming</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">C Programming</a>   <a href="">C++</a>    <a href="">C#</a>    <a href="">Java</a></pre>
            <li>Interview</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">GD</a>    <a href="">HR</a>    <a href="">Technical Interview</a></pre>
            <li>Placement Papers</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Placement Papers</a>    <a href="">Submit Paper</a></pre>
        </ul>
    </div>


</div>

