<div class="aptiframe">
    <div class="leftblock">
        <ul>
            <li><a href="aptitude/problems-on-trains">State</a></li>
            <li>National</li>
            <li>International</li>
            <li>Agriculture</li>
            <li>Awards and Honours</li>
            <li>Bills and Acts</li>
            <li>Defence</li>
            <li>Education</li>
            <li>Festivity</li>
            <li>Obituary</li>
            <li>Science</li>
            <li>Talkies</li>
            <li>Miscellaneous</li>
        </ul>
    </div>

    <div class="rightblock">
        <ul>
            <li>Politics</li>
            <li>Persons</li>
            <li>Important Days</li>
            <li>Art and Culture</li>
            <li>Banking</li>
            <li>Business</li>
            <li>Economy</li>
            <li>Environment</li>
            <li>Finance</li>
            <li>Places</li>
            <li>Sports</li>
            <li>Technology</li>
        </ul>
    </div>

    <div class="quicklinkbox">
        <p>Quick Links</p>

        <ul>
            <li>Quantitative Aptitude</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Arithmetic</a>     <a href="">Data Interpretation</a></pre>
            <li>Verbal(English)</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Verbal Ability</a>     <a href="">Verbal Test</a></pre>
            <li>Reasoning</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Logical</a>   <a href="">Verbal</a>   <a href="">Nonverbal</a></pre>
            <li>Programming</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">C Programming</a>   <a href="">C++</a>    <a href="">C#</a>    <a href="">Java</a></pre>
            <li>Interview</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">GD</a>    <a href="">HR</a>    <a href="">Technical Interview</a></pre>
            <li>Placement Papers</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Placement Papers</a>    <a href="">Submit Paper</a></pre>
        </ul>
    </div>


</div>

