<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>

<app-welcome-msg welcomeMsg="Interview Questions and Answers"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Interview Questions   »   " linktab="\interview"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="Categories"></app-welcome-final-text></li>
</ul>
</div> 
<app-interview-frame></app-interview-frame>

<app-footer></app-footer>