<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>
<app-welcome-msg welcomeMsg="Logical Reasoning Questions and Answers"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Logical Reasoning   »   " linktab="\logical"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="List of topics"></app-welcome-final-text></li>
</ul>
</div> 

<app-logical-frame></app-logical-frame>
<app-footer></app-footer>