<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>

<app-welcome-msg welcomeMsg="Current Affairs Questions and Answers"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Current Affairs   »   " linktab="\current-affairs"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="List of topics"></app-welcome-final-text></li>
</ul>
</div> 
<app-current-affairs-frame></app-current-affairs-frame>

<app-footer></app-footer>