#box{
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-color: #f4f5fa;
}

#linkcheck{
    width: 100%;
    background-color: #f4f5fa;
}

#box a{
    font-size: 15px;
    margin-left: 15px;
}

a{
    text-decoration: none;
    color: #07C;
    font-family: arial;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}