<ul class="top-bar">
    <li><i class="fa fa-bars" onclick="$('.expandable').slideToggle('slow')"></i></li>
    <li><a href="">Home</a></li>
    <li><a href="/aptitude">Aptitude</a></li>
    <li><a href="/logical">Logical</a></li>
    <li><a href="/verbal">Verbal</a></li>
    <li><a href="/current-affairs">Current Affairs</a></li>
    <li><a href="/general-knowledge">GK</a></li>
    <li><a href="/engineering">Engineering</a></li>
    <li><a href="/interview">Interview</a></li>
    <li><a href="/online-test">Online Tests</a></li>
    <li><a href="puzzles">Puzzles</a></li>
</ul>


<div class="expandable" style="display: none;">
    <h4>Quantitative Aptitude</h4>
        <pre><a href="/aptitude">Arithmetic Aptitude</a>   <a href="">Data Interpretation</a></pre>
    <h4>Verbal and Reasoning</h4>
        <pre><a href="">Verbal Ability</a>   <a href="">Logical Reasoning</a>   <a href="">Verbal Reasoning</a>   <a href="">Nonverbal Reasoning</a></pre>
    <h4>Current Affairs & GK</h4>
        <pre><a href="">Current Affairs</a>   <a href="">General Knowledge</a></pre>
    <h4>Interview</h4>
        <pre><a href="">HR Interview</a>   <a href="">Group Discussion</a>   <a href="">Placement Papers</a>   <a href="">Technical Interview</a></pre>
    <h4>Engineering</h4>
        <pre><a href="">Mechanical Engineering</a>   <a href="">Civil Engineering</a>    <a href="">ECE</a>   <a href="">EEE</a>   <a href="">CSE</a>   <a href="">Read more...</a></pre>       
    <h4>Technical</h4>
        <pre><a href="">C Programming</a>   <a href="">C++</a>   <a href="">C#</a>   <a href="">Java</a>   <a href="">Database   Networking</a></pre>
    <h4>Medical Science</h4>
        <pre><a href="">Microbiology</a>   <a href="">Biochemistry</a>   <a href="">Biotechnology</a>   <a href="">Biochemical Engineering</a></pre>
    <h4>Others</h4>
        <pre><a href="">Online Tests</a>   <a href="">Puzzles</a>   <a href="">Quiz</a>   <a href="">Sudoku</a>   <a href="">Close Menu</a></pre>
</div>
