
<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>
<app-welcome-msg welcomeMsg="Aptitude Questions and Answers"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Aptitude   »   " linktab="\aptitude"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="List of topics"></app-welcome-final-text></li>
</ul>
</div>    

<app-aptitude-frame></app-aptitude-frame>
<app-aptitude-content></app-aptitude-content>
<app-footer></app-footer>
