<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>
<app-welcome-msg welcomeMsg="Aptitude :: Problems on Trains"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Aptitude   »   " linktab="\aptitude"></app-welcome-link></li>
    <li><app-welcome-link content="Problems on Trains   »   " linktab="\aptitude\problems-on-trains"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="List of topics"></app-welcome-final-text></li>
</ul>
</div>    
<app-train-body></app-train-body>
<div *ngIf="page0">
    <app-train-ques></app-train-ques>
</div>
<div *ngIf="page1">
    <app-ques-page2></app-ques-page2>
</div>
<app-pagebar (clickevent)="functioncheck($event)"></app-pagebar>
<app-footer></app-footer>