<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>

<app-welcome-msg welcomeMsg="Online Tests"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Online Test   »   " linktab="\online-test"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="Categories"></app-welcome-final-text></li>
</ul>
</div> 
<app-online-test-frame></app-online-test-frame>

<app-footer></app-footer>