<router-outlet></router-outlet>

<app-logo></app-logo>
<app-search-bar></app-search-bar>
<app-menu-bar></app-menu-bar>

<app-welcome-msg welcomeMsg="Engineering Questions and Answers"></app-welcome-msg>
<div class="wel">
<ul>
    <li><app-welcome-link></app-welcome-link></li>
    <li><app-welcome-link content="Engineering   »   " linktab="\engineering"></app-welcome-link></li>
    <li><app-welcome-final-text welcometext="Branches and Subjects"></app-welcome-final-text></li>
</ul>
</div> 
<app-engineering-frame></app-engineering-frame>

<app-footer></app-footer>