<ol>
    <li>km/hr to m/s conversion:<br>a km/hr = (a x 5/18) m/s.</li>
    <li>m/s to km/hr conversion:<br>a m/s = (a x 18/5) km/hr.</li>
    <li>Formulas for finding speed, Time and Distance.</li>
    <li>Time taken by a train of length/metres to pass a pole or standing man or a signal post is equal to the time taken by the train to cover/metres</li>
    <li>Time taken by a train of length/metres to pass a stationery object of length b metres is the time taken by the train to cover (l+b) metres.</li>
    <li>Suppose two trains or two objects bodies are moving in the same direciton at <i>u</i> m/s and <i>v</i> m/s, where u > v, then their relative speed is <i>(u - v)</i> m/s</li>
    <li>Suppose two trains or two objects bodies are moving in the opposite direciton at <i>u</i> m/s and <i>v</i> m/s, then their relative speed is <i>(u + v)</i> m/s</li>
    <li>If two trains of length <i>a</i> metres and <i>b</i> metres are moving in opposite directions at <i>u</i> m/s and <i>v</i> m/s, then:<br>The time taken by trains to cross each other = <i>(a + b)/(u + v)</i> sec.</li>
    <li>If two trains of length <i>a</i> metres and <i>b</i> metres are moving in same directions at <i>u</i> m/s and <i>v</i> m/s, then:<br>The time taken by faster train to cross each other = <i>(a + b)/(u - v)</i> sec.</li>
    <li>If two trains(or bodies) start at the same time from points A and B towards each other and after crossing they take <i>a</i> and <i>b</i> sec in reaching B and A respectively, then:<br>(A's speed) : (B's speed) = ((b)^0.5 : (a)^0.5)</li>
</ol>