<div class="aptiframe">
    <div class="interviewblock">
        <ul>
            <li><a href="">Placement Papers with answers</a></li>
            <p>The largest collection of placement papers with answers and interview pattern of various companies such as TCS, Infosys, Wipro, Accenture, IBM, CTS etc.</p>
            
            <li><a href="">HR Interview Questions and Answers</a></li>
            <p>This section covers HR interview questions and answers for freshers and experienced. It helps job seekers who are about to attend HR interview round.</p>

            <li><a href="">Technical Interview Questions and Answers</a></li>
            <p>This is the technical interview questions and answers section for various interview, competitive examinations. This section covers Data Structure, C, Java, Database, Networking etc.</p>

            <li><a href="">Group discussion Topics with Answers</a></li>
            <p>This section covers latest/current group discussion topics with answers on various aspects. These gd topics can help MBA, CAT as well as fresh job seekers.</p>
            

            <li><a href="">Submit your Placement Paper & Experience</a></li>
            <p>Here you can submit your Placement Test Paper, share your interview experience. This will definitely help other job seekers are about to attend the interview.</p>

            <li><a href="">Body Language(Gestures)</a></li>
            <p>Introduction for transmitting messages without spoken words, messages can be communicated through facial expressions; gaze; and posture.</p>
        </ul>

    </div>

    <div class="quicklinkbox">
        <p>Quick Links</p>

        <ul>
            <li>Quantitative Aptitude</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Arithmetic</a>     <a href="">Data Interpretation</a></pre>
            <li>Verbal(English)</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Verbal Ability</a>     <a href="">Verbal Test</a></pre>
            <li>Reasoning</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Logical</a>   <a href="">Verbal</a>   <a href="">Nonverbal</a></pre>
            <li>Programming</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">C Programming</a>   <a href="">C++</a>    <a href="">C#</a>    <a href="">Java</a></pre>
            <li>Interview</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">GD</a>    <a href="">HR</a>    <a href="">Technical Interview</a></pre>
            <li>Placement Papers</li>
            <pre><i class='fas fa-angle-right' style="color: grey;font-size: small;"></i>   <a href="">Placement Papers</a>    <a href="">Submit Paper</a></pre>
        </ul>
    </div>


</div>

